* {

}
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    background-color: #fcfcfc;
    margin: 10px;
    padding: 0;
}
/*----------------------------------*/
/*------    columns & row    -------*/
/*----------------------------------*/
/* .col-3x2 {
  float: left;
  width: 50%;
	margin: 1% 0 1% 5%;
  padding: 1%;
}
.row {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.row:after {
content: "";
display: table;
clear: both;
zoom: 1;
} */

/*----------------------------------*/
/*------    page content     -------*/
/*----------------------------------*/

.pg-title {
font-weight: 900;
color: #0050c8;
font-size: 2.5rem;
margin: 20px 0;
margin-left: 20px;
padding: 0;
}
.images {

}
#taboola-widgets {
    max-width: 768px;
    margin: 30px auto;
    padding: 0 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-gap: 20px;
  }
  img {
    width: 100%;
    height: auto;
  }
  a:link {
      color:black;
      background-color: transparent;
      text-decoration: none;
  }

  a h3.title:hover {
      color:#cb0000;
      background-color: transparent;
      text-decoration: underline;
  }
.branding {
  color: #cb0000;
  margin: 0px
}


@media screen and (max-width: 600px) {
